body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Author', sans-serif;
}

h1 {
  font-size: 50px;
}

ul {
  list-style-type: none;
  margin: 20px;
  height: 120px
}

progress {
  width: 30%;
  border: 4px solid black;
  height: 40px;
}

canvas {
  margin: 5px;
}

.memorySlotEmpty {
  float: left;
  width: 0px;
  height: 50px;
  border: 2px solid black;
  margin: 4px;
}

.memorySlot {
  float: left;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  margin: 4px;
  
  font-size: 30px;

  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}

details {
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}



details summary {
  display: flex;
  border: 4px solid black;
  padding: 7px;
  font-size: 20px;
  margin-bottom: 20px;
}

aside {

  border: 4px solid black;
  font-size: 30px;
  padding: 12px;
  margin-right: 10px;
  text-align: center;

  width: 30px;
}

.wheels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volumeGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
